@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --yello: #f9b233;
  --red: #dc2827;
  --white: #ffffff;
  --dark: #000000;
  --dark27: #272727;
  --black: #374157;
  --gray: #8e8e8e;
  --faq-bg: #efefef;
  --bg-color: #f8f8f8;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('./assets/fonts/sofiapro-light.otf') format('truetype');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
