.air_transport_container {
  background-color: var(--bg-color);
}
.air_transport_container p {
  margin-bottom: 0px;
}
.air_transport_container .hero-container {
  background-image: url('../images/airport-transfer-hero.svg');
  background-position: bottom;
}

.air_transport_container .tranparent_hero_box {
  display: none;
}

.air_transport_container .form_container {
  top: 65%;
  transform: translateY(-65%);
  left: 5%;
}

.air_transport_container .fleets_heading {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 1.5rem;
}
.air_transport_container .fleets_heading span {
  color: var(--yello);
}
.air_transport_container .at_service_container {
  margin: 3rem 0rem;
}
.air_transport_container .at_service_container .service_des {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--yello);
}
.air_transport_container .at_service_container .service_title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: var(--dark);
  margin: 1rem 0rem;
}
.air_transport_container .at_service_container .service_title span {
  color: var(--yello);
}
.air_transport_container .service_card_airtransport .left_paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #374157;
  text-align: justify;
}
.air_transport_container .service_card_airtransport {
  padding: 0px 4rem;
}
.air_transport_container .service_card_airtransport .wrapper {
  border: 4px solid var(--yello);
  border-radius: 85px;
  padding: 4px;
  max-width: 450px;
  margin-left: auto;
}
.air_transport_container .service_card_airtransport .wrapper img {
  width: 100%;
  height: 100%;
}
.air_transport_container .card_outside_paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #374157;
  margin-top: 3rem;
  text-align: justify;
}
.air_transport_container .book_now_container {
  margin: 0rem 4rem !important;
}
.air_transport_container .main_concern_heading {
  font-weight: 600;
  font-size: 28px;
  color: var(--dark27);
}
.air_transport_container .main_concern_container {
  margin: 2rem 4rem;
}
.air_transport_container .main_concern_container .card_outside_paragraph {
  margin-top: 1rem;
}
.air_transport_container .area_wrapper {
  background: var(--white);
  border: 1px solid var(--yello);
  border-radius: 10px;
  padding: 10px 20px;
}

.air_transport_container .slider_container {
  margin-top: 2rem;
}

/* private car page style */
.private_car_container .hero-container {
  background-image: url('../images/private-car-hero.svg');
}
.point_to_point_container .hero-container {
  background-image: url('../images/point-to-point-hero.png');
}
.corp_trans_container .hero-container {
  background-image: url('../images/corp-trans-hero.svg');
}
.party_limosine_container .hero-container {
  background-image: url('../images/party-lemosine-hero.svg');
}
.limo_service_container .hero-container {
  background-image: url('../images/limo-service-hero.svg');
}

@media screen and (max-width: 900px) {
  .at_wrapper .hero-container {
    background-image: url('../images/airport-transfer-hero-mobile.png');
  }
  .private_car_container .hero-container {
    background-image: url('../images/private-car-hero-mobile.png');
  }
  .point_to_point_container .hero-container {
    background-image: url('../images/point-to-point-hero.mobile.png');
  }
  .corp_trans_container .hero-container {
    background-image: url('../images/corp-trans-hero-mobile.png');
  }
  .party_limosine_container .hero-container {
    background-image: url('../images/party-lemosine-hero-mobile.png');
  }
  .hero-container {
    height: 50vh;
  }
  .limo_service_container .hero-container {
    background-image: url('../images/limo-service-mobile.png');
  }
  .air_transport_container .hero-container .form_container {
    left: 0%;
    margin-top: 5rem !important;
  }

  .air_transport_container .slider_container {
    margin-top: 550px;
  }
  .form_container {
    width: 100%;
    margin: 0px !important;
    top: 90%;
  }
  .slider_container {
    margin-top: 550px;
  }
  .service_title {
    font-size: 20px !important;
  }
  .service_card_airtransport {
    padding: 0rem 0rem !important;
  }
  .air_transport_container .book_now_container {
    margin: 0rem 0rem !important;
  }
  .air_transport_container .main_concern_container {
    margin: 2rem 0rem;
  }
  .air_transport_container .form_container {
    top: 90%;
    transform: translateY(0);
  }
  .air_transport_container .btns a {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 770px) {
  .slider_container {
    margin-top: 700px;
  }
}
@media screen and (max-width: 500px) {
  .air_transport_container .hero-container {
    background-size: contain;
  }
}
