.header {
  background: #f9b233 !important;
  height: 80px;
  z-index: 100;
}
.header .container {
  z-index: 100;
}

.logo_container {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 2rem;
  font-weight: 600;
  font-size: 24px;
  color: var(--dark27);
}
.logo_container:hover {
  color: var(--dark27);
}
.logo_container img {
  margin-right: 0.5rem;
}

.navlinks {
  flex: 0.6;
  justify-content: space-evenly;
}

.services_dropdown_styles .nav-link {
  color: #000000 !important;
}

.navlink {
  font-weight: 400;
  font-size: 15px;
  color: var(--dark);
  text-decoration: none;
}

.navlink.red {
  background-color: var(--red);
  font-weight: 600;
  font-size: 15px;
  color: var(--white);
  border-radius: 10px;
  padding: 16px 22px !important;
}

@media (max-width: 986px) {
  .logo_container {
    padding-left: 0rem;
    font-size: 18px;
  }

  .logo_container img {
    width: 40px;
  }
}
