.home-container {
  background-color: var(--bg-color);
  padding: 10px;
}

/* hero section start */
.hero-container {
  background: url('../images/hero-bg.svg');
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: center center;
  position: relative;
  pointer-events: none;
}
.form_container {
  pointer-events: all;
  background: #595959;
  opacity: 0.9;
  width: 400px;
  color: var(--white);
  padding: 30px 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}
.hero-container .form_container .get_instant_fare {
  font-weight: 600;
  font-size: 28px;
  color: var(--white);
}
.hero-container .form_container .horizental_line {
  width: 100%;
}
.hero-container .passengers_luggage_innerContainer .title,
.hero-container .name_field_container .title {
  color: var(--white) !important;
}

.hero-container .form_container .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}
.hero-container .form_container .btns a:nth-of-type(1) {
  width: 50%;
}
.hero-container .form_container .btns a:nth-of-type(2) {
  width: 48%;
}

.form_container .passengers_luggage_hero_container {
  display: flex;
  align-items: center;
}

/* welcome section start */
.welcome_container {
  margin: 2rem 5rem 0rem 5rem;
  text-align: center;
}
.welcome_container .what_we_offer {
  font-weight: 600;
  font-size: 20px;
  color: var(--yello);
}
.welcome_container .welcome_to_us {
  font-weight: 600;
  font-size: 36px;
  color: var(--dark);
}
.welcome_container .description {
  font-size: 18px;
  color: var(--dark);
  width: 764px;
  margin: 2.5rem auto;
}
.whatweoffer_card_wrapper {
  background: var(--white);
  padding: 10px;
  box-shadow: 0px 93.4322px 74.7458px rgba(0, 0, 0, 0.07),
    0px 34.1043px 27.2834px rgba(0, 0, 0, 0.0482987),
    0px 16.557px 13.2456px rgba(0, 0, 0, 0.0389404),
    0px 8.11655px 6.49324px rgba(0, 0, 0, 0.0310596),
    0px 3.2093px 2.56744px rgba(0, 0, 0, 0.0217013);
  border-radius: 4.67161px;
  display: flex;
}
.whatweoffer_card_wrapper img {
  width: 114.82px;
  height: 110.16px;
  border-radius: 4.67161px;
}
.whatweoffer_card_wrapper .wrapper {
  display: flex;
  text-align: start;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 10px;
}
.whatweoffer_card_wrapper .wrapper p {
  margin-bottom: 0px;
}
.whatweoffer_card_wrapper .wrapper .card_title {
  font-weight: 600;
  font-size: 14.9492px;
  color: #0a0a0a;
}
.whatweoffer_card_wrapper .wrapper .card_description {
  font-size: 13px;
  color: #616161;
}
.whatweoffer_card_wrapper .wrapper button {
  background: var(--yello);
  color: var(--white);
  padding: 5px 8px;
  border: none;
  outline: none;
  width: 99.04px;
  box-shadow: 0px 0.934322px 1.86864px rgba(0, 0, 0, 0.12);
  border-radius: 5.60593px;
}

/* backgroundImgContainer */
.backgroundImgContainer {
  margin: 3rem 1rem 0rem;
  background-image: url('../images/car-bg.png');
  height: 50vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backgroundImgContainer .title {
  font-weight: 600;
  font-size: 36px;
  color: var(--white);
  width: 488px;
}
.title .strong {
  color: var(--yello);
}

.backgroundImgContainer .description {
  font-size: 18px;
  color: var(--white);
  width: 831.42px;
}

/* classes_and_rates */
.classes_rates_container {
  margin: 2rem 5rem 0rem;
}
.classes_rates_container .classes_rates_card {
  background: #272727;
  border-radius: 10px;
  padding: 30px;
}
.classes_rates_card img {
  width: auto;
  height: 37px;
}
.classes_rates_card p {
  color: white !important;
}
.classes_rates_card .price {
  font-weight: 600;
  font-size: 16.3279px;
  color: var(--yello) !important;
  margin: 0.7rem 0rem 0rem 0rem;
}

/* book_now section */
.book_now_container {
  background: var(--yello);
  border-radius: 10px;
  margin: 0rem 5rem;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book_now_container .title {
  font-weight: 600;
  font-size: 36px;
  color: var(--dark);
  margin-bottom: 0px;
  line-height: 0;
}

/* Faq section */
.faq_container {
  margin: 3rem 5rem 2rem;
}
.faq_inner_contianer {
  background: #efefef;
  border: 1px solid #d2d2d2;
  margin-top: 1.5rem;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  padding: 30px 50px;
}
.faq_inner_contianer .img_container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  width: 20%;
  margin-left: auto;
}
.faq_inner_contianer .img_container input {
  background-color: none;
  outline: none;
  border: none;
  width: 100%;
}
.faq_container .img_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.faq_container .img_container img {
  padding-right: 8px;
  cursor: pointer;
}
.faq_container .faq_accordion {
  margin: 1rem 0rem;
}
.faq_container .accordion-button:not(.collapsed)::after {
  background-image: url('../images/faq-minus.png');
}
.faq_container .accordion-button::after {
  background-image: url('../images/faq-plus.png');
  position: absolute;
  left: 0;
}
.faq_container .accordion-button {
  background-color: #efefef;
}
.faq_container .accordion-button:not(.collapsed) {
  background-color: #efefef;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--dark);
}
.faq_container .accordion-body {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--dark);
  background-color: #efefef;
  opacity: 0.6;
  text-align: start;
}

/* footer */
.footer_container {
  background: #272727;
  color: var(--white);
  padding: 5rem 0rem 2rem;
}
.footer_container .footer_logo {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}
.footer_container .footer_description {
  font-weight: 400;
  width: 248px;
}
.footer_container .icons {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.footer_container .icons .icon {
  margin-right: 18px;
  width: 22px;
  height: auto;
  cursor: pointer;
}
.footer_container .about_us_heading {
  font-weight: 600;
  font-size: 18px;
  color: var(--yello);
  margin-bottom: 30px;
}
.footer_container .navlinks {
  padding: 0;
}
.footer_container .navlinks .navlink {
  list-style: none;
}
.footer_container .navlinks a,
.footer_container .navlinks .navlink {
  text-decoration: none;
  font-size: 14px;
  color: var(--white);
  margin-bottom: 7px;
}
.footer_container .nav_li {
  list-style: none;
  display: flex;
  margin-bottom: 17px;
  align-items: center;
}
.footer_container .nav_li img {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.footer_container .nav_li p {
  margin-bottom: 0px !important;
}

/* media queries */
@media screen and (max-width: 768px) {
  .welcome_container .description {
    width: 100%;
  }
  .welcome_container {
    margin: 1rem;
  }
  .backgroundImgContainer .title {
    font-size: 36px;
  }
  .backgroundImgContainer {
    margin: 3rem 0rem;
    height: 100vh;
    background-size: cover;
  }
  .backgroundImgContainer p {
    width: 100% !important;
  }
  .backgroundImgContainer .description {
    font-size: 15px;
  }
  .book_now_container {
    margin: 0px;
    flex-direction: column;
  }
  .book_now_container h3 {
    padding: 1rem 0rem;
  }
  .book_now_container a {
    margin-top: 1rem;
  }
  .footer_logo_container {
    text-align: center;
    margin-bottom: 3rem;
  }
  .footer_logo_container p {
    width: 100% !important;
  }
  .footer_logo_container .icons {
    justify-content: center;
  }
  .form_container {
    margin-top: 500px;
    left: 0%;
  }
  .hero-container {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
  }
  .welcome_container {
    margin-top: 450px;
  }
  .home_specific {
    background-position: center;
  }
  .hero-container .btns a {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .complete_booking_container {
    padding: 3rem 1rem !important;
  }
  .form_container {
    /* margin-left: 0px; */
    width: 100%;
    transform: translateY(0%);
  }
  .welcome_specific {
    margin-top: 500px;
  }
  .welcome_container .description {
    width: 100%;
  }
  .hero-container .nav-link {
    width: 100%;
    text-align: center;
  }
  .hero-container .btns {
    flex-direction: column;
  }
  .stack_luggage_passenger div {
    /* width: 100% !important; */
  }
  .classes_rates_container,
  .faq_container {
    margin: 0px;
  }
  .faq_container {
    margin: 10px 0px;
  }
  .faq_inner_contianer {
    padding: 0.5rem;
  }
  .destinations_container .right p {
    font-size: 12px !important;
  }
  .passengers_luggage_innerContainer.ms-3 {
    margin: 10px 0px !important;
  }
  .vehicleType_pickup_container .wrapper_select {
    margin: 10px 0px !important;
  }
  .vehicleType_pickup_container .wrapper_select select {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 500px) {
  .hero-container .btns a {
    padding: 12px 16px !important;
  }
  .vehicleType_pickup_container .wrapper_select select {
    font-size: 10px !important;
  }
}
